{% extends 'room/layout.html' %}<!-- importamos el header -->

{% block content %}

<div class="row">
    <!-- DIV LATERAL CON USUARIOS REGISTRADOS-->
    <div class="col s2">
        <h2 class="title">En Linea {{request.user|title}}</h2>
        <h2 class="title">Usuarios en la sala </h2>
            <div class="card">
                <div class="collection">
                    {% for user in users %}
                        <div class="col s8">
                            <h3 class="title" style="font-weight: 500">{{ user.username|title }}
                            {% if request.user.id == user.id  %}
                            🟢
                            </h3>
                            {%else%}
                            <h6>Ult. Vez {{ user.last_login}}</h6>
                            {%endif%}
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
    <!-- DIV CON MENSAJES -->
    <div class="col s9">
        <div>
            <!-- el div board contiene todos los mensajes en la clase imessage -->
            <div id="board" class="section grey lighten-3" style="height: 60vh; padding: 5px; overflow-y: scroll">
                
                <div class="imessage" id="chat-session" >

                    {% for message in messages %}
                    {% if message.sender == request.user %}
                    <!--  MENSAJE, SI FUE ENVIADO POR MI, SE ALINEA A LA DERECHA  -->
                    <div id= '{{  message.id }}' style="align-self: flex-end;"  data-time = '{{ message.timestamp|date:"M d Y  H:i:s:u"  }}'>
                        <!-- NOTAR QUE EN EL ONCLICK DE LA X UTILIZO EL DELETE MSJ QUE EJECUTA EL JS PARA USAR EL API-->
                        <p class="from-me"   > <a onclick= 'delete_msj("{{  message.id }}")'>x</a> <br>{{ message.timestamp}} <br><b >Tú: </b> <br> {{ message }}</p>
                        <input type='hidden' id="id_message_delete" name="id_message_delete" type="text" value="{{ message.id }}">
                    </div>

                    {% if message.image %}
                    <!--  MULTIMEDIA  -->
                    <div  data-time = '{{ message.timestamp|date:"M d Y  H:i:s:u"  }}'>
                        <img class="image_mensage_rigth" src="{{message.image.url }}" >
                    </div>
                    {%endif%}
                    {%else%}
                    <!--  MENSAJE, SI FUE ENVIADO POR OTRO USUARIO, SE ALINEA A LA IZQUIERDA  -->
                    <div id= '{{  message.id }}'  data-time='{{ message.timestamp|date:"M d Y  H:i:s:u"}}'>
                        <p class="from-them"> <b>{{ message.sender|title }} </b> <br>{{ message.timestamp}}<br> {{ message }}</p>
                    </div>
                    {% if message.image %}
                    <!--  MULTIMEDIA  -->
                    <div data-time='{{ message.timestamp|date:"M d Y  H:i:s:u"}}'>
                        <img class="image_mensage_left" src="{{message.image.url }}">
                    </div>
                    {%endif%}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% load static %}
            <!--  CAJA DE TEXTO FORMULARIO  -->
            <form id="chat-box" method="post" enctype='multipart/form-data'>{% csrf_token %}
                <div class="row">
                    <div class="col s11">
                        <div class="input-field">
                            <input id="id_message" name="message" type="text" placeholder="Mensaje..">
                            <input type='hidden' id="id_sender" name="sender" type="text" placeholder="Mensaje.." value="{{ user.id }}">
                            <input type="file" id="image" name="image" accept="image/*">
                        </div>
                    </div>
                    <div class="col s1" style="line-height: 80px">
                        <button class="btn btn-floating blue lighten-2 waves-effect waves-light"><i class="material-icons">Enviar</i></button>
                    </div>
                </div>
            </form>


        </div>

    </div>
</div>



{% load staticfiles %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="{% static 'js/chat.js' %}"></script>
<script>
    //JAVA SCRIP PARA EL USO DE LAS APIS
    //DEAMON QUE SE ENCARGA DE VALIDAR CADA Segundo si hay mensajes nuevos
    setInterval('receiveDeamon()',1000);

    $(function () {
        scrolltoend();//AUTOMATICAMENTE SCROLL HASTA EL FONDO
        $('#chat-box').on('submit', function (event) {
            event.preventDefault();
            var path = $('id_message').val();
            var message = $('#id_message');
            send('{{ request.user.username }}',  message.val()); //EJECUTO EL ENVIO QUE SE CONECTA A LA API
        });
      
    })

</script>


{% endblock %}